<h1 class="text-center">Projects</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th width="5%" scope="col">Id</th>
            <th width="15%" scope="col">Name</th> @*max 25 chars*@
            <th width="55%" scope="col">Description</th> @*max 100 chars*@
            <th width="25%" scope="col">Work Items</th> @*max 50 chars*@
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Lorem ipsum dolor sit...</td> 
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis sapien at feugiat lobortis...</td>
            <td>Task, Issue, Task2, Task3, Task, Issue, Task2...</td>
        </tr>
    </tbody>
</table>