<div class="row">
    <a asp-controller="JobPosition" asp-action="Index" class="card text-decoration-none text-white bg-dark mx-3" style="max-width: 18rem;">
        <div class="card-header"><i class="bi bi-gear-fill"></i></div>
        <div class="card-body">
            <h5 class="card-title">Job positions</h5>
            <p class="card-text">Add job positions to fit company requirements.</p>
        </div>
    </a>

    <a asp-area="Identity" asp-page="/Account/RegisterEmployee" class="card text-decoration-none text-white bg-dark mx-3" style="max-width: 18rem;">
        <div class="card-header"><i class="bi bi-person-badge-fill"></i></div>
        <div class="card-body">
            <h5 class="card-title">Register employee</h5>
            <p class="card-text">Register a new employee account with required accesses.</p>
        </div>
    </a>
</div>
