@{
    ViewData["Title"] = "Home Page";
}


<h2 class="text-center mb-5">IT System Management project.</h2>

<div class="row d-flex justify-content-center">
    <div class="col-6 py-3 shadow">
        <p>ITSM Project is a final project for classes from ASP.NET MVC. </p>
        <p>To log in use one of the accounts listed below:</p>
        <ul class="list-group">
            <li class="list-group-item">
                Admin user <br>
                Email: admin@itsm.com<br>
                Password: SuperSecret@1
            </li>
            <li class="list-group-item">
                Employee user <br>
                Email: employee@itsm.com <br>
                Password:SuperSecret@1
            </li>
            <li class="list-group-item">
                Standard user <br>
                Email: standard@itsm.com <br>
                Password:SuperSecret@1
            </li>
        </ul>
    </div>
</div>